<html>
    <head>
        <title>Laffka - Orders</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">
    </head>
    <body>
        {% include "header.html"%}
      <table border="1" width="100%">
          {% for order in orders %}
          <tr>
              <td>{{order.address}}</td>
              <td>{{order.wif}}</td>
              <td>{{order.item_index}}</td>
              <td>{{order.item_amount}}</td>
          </tr>
          {% endfor %}

      </table>
    </body>