<ul>
    <li><i>28.07 Refactor scheduler OOP friendlier, current logic is a mess - never perfect, yet finished 29.07</i> </li>
</ul>
<ul>
    <li><i>26.07 Implement proper version control - finished 27.07</i></li>
    <li>26.07 Finish order page</li>
    <ul>
        <li><i>Payment goes through, feel free to try(testnet) - finished 28.07</i></li>
        <li><i>Implement TX scanning - finished 29.07</i></li>
    </ul>
    <li>26.07 Implement some form of admin page</li>
    <li>26.07 Implement/make deployment script - most probably setuptools.py</li>
    <ul>
        <li>Linux, python3, python3-pip</li>
        <li>pip modules: flask, requests</li>
    </ul>
    <li>26.07 Write documentation</li>
    <li>26.07 Implement satelitte site</li>
    <li><b>26.07 Release first beta!</b></li>
</ul>